<nav class="menu">
  {{#link-to "index" class="menu-index" }}
    <h1>SuperRentals</h1>
  {{/link-to}}
  <div class="links">
    {{#link-to "about" class="menu-about" }}
      About
    {{/link-to}}
    {{#link-to "contact" class="menu-contact" }}
      Contact
    {{/link-to}}
  </div>
</nav>