{{#jumbo-comp}}
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  {{#link-to "about"}}About Us{{/link-to}}
{{/jumbo-comp}}

{{#rentals-comp rentals=this.model }}
{{/rentals-comp}}